.header 
{
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}
.header-links
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
}
.div-header-logo
{
  margin-right: 90px;
}
.header-logo-lab
{
  width: 192px;
}
.header-a
{
  text-decoration: 0;
  color: black;
  font-weight: 600;
  font-size: 17px;
}
.header-a:hover
{
  color: rgb(41,191,255);
}
