html, body
{
  padding: 0px;
  margin: 0px;
  font-family: "roboto", "sans-serif";
}
.line-breaker
{
  background-color: rgb(40,38,38);
  height: 10px;
  margin-top: -5px;
}
/*
###############
###############
header
*/
.header 
{
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}
.header-links
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
}
.div-header-logo
{
  margin-right: 90px;
}
.header-logo-lab
{
  width: 192px;
}
.header-a
{
  text-decoration: 0;
  color: black;
  font-weight: 600;
  font-size: 17px;
}
.header-a:hover
{
  color: rgb(41,191,255);
}
/*
###############
###############
footer
*/
footer
{
  background-color: black;
  height: 380px;
  color: white;
}
.footer-container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
}
.footer-nadpis
{
  margin-top: 0px;
  font-size: 24px;
  font-weight: bold;
}
.footer-kontakt-ul
{
  padding-left: 20px;
}
.footer-info-links
{
  text-decoration: underline;
  color: white;
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
}
/*
###############
###############
*/
